{% extends 'base.html' %}
{% block title %}部落格文章列表{% endblock %}
{% block content %}
    <h2 class="mb-4">部落格文章列表</h2>
    <div class="list-group">
        {% for post in posts %}
        <a href="{{ url_for('post_detail', post_id=post.id) }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ post.title }}</h5>
                <small>作者：{{ post.author }}</small>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
